/** {
    margin:0px;
    padding:0px;
}*/

.Anuncio {
display: inline;
float: left;
margin-left: 20px;
margin-right: 20px;
}

.Display {
    display: inline;
    float: left;
    margin-right: 10px;
}

.Grafica {
    position: relative;
    animation-name: Graf;
    animation-duration: 27s;
    animation-iteration-count: 1;
}

.Grid {   
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 27s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 27s;
    animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {background-color: #f6aaaa;left: 0px;top: 0px;}
    25% {background-color: #fbe380;left: 0px;top: 0px;}
    50% {background-color: #aec1f9;left: 0px;top: 0px;}
    75% {background-color: #b7ebc4;left: 0px;top: 0px;}
    100% {background-color: #f6aaaa;left: 0px;top: 0px;}    
}

/* Standard syntax */
@keyframes example {
    0% {background-color: #f6aaaa;transform: translateX(-1500px);}
    5%{transform: translateX(0px);}
    25% {background-color: #fbe380;}
    50% {background-color: #aec1f9;}
    75% {background-color: #b7ebc4;}
    100% {background-color: #f6aaaa;}    
}

/* Standard syntax */
@keyframes Graf {
    0% {transform:rotateZ(-90deg);}
    10% {transform:rotateZ(0deg);}
    90% {transform: translateX(0px);}
    100% {transform:translateX(-1500px);}    
}

.imagen1 {width: 90px;position: fixed;left: 141px;top: 630px;animation-name:Ima1;animation-duration:10s;animation-iteration-count:1;}
.imagen2 {width: 90px;position: fixed;left: 226px;top: 630px;animation-name:Ima2;animation-duration:3s;animation-iteration-count:1;}
.imagen3 {width: 90px;position: fixed;left: 311px;top: 630px;animation-name:Ima3;animation-duration:3s;animation-iteration-count:1;}
.imagen4 {width: 90px;position: fixed;left: 396px;top: 630px;animation-name:Ima4;animation-duration:3s;animation-iteration-count:1;}
.imagen5 {width: 90px;position: fixed;left: 479px;top: 630px;animation-name:Ima5;animation-duration:3s;animation-iteration-count:1;}
.imagen6 {width: 90px;position: fixed;left: 562px;top: 630px;animation-name:Ima6;animation-duration:3s;animation-iteration-count:1;}
.imagen7 {width: 90px;position: fixed;left: 647px;top: 630px;animation-name:Ima7;animation-duration:3s;animation-iteration-count:1;}
.imagen8 {width: 90px;position: fixed;left: 732px;top: 630px;animation-name:Ima8;animation-duration:3s;animation-iteration-count:1;}
.imagen9 {width: 90px;position: fixed;left: 814px;top: 630px;animation-name:Ima9;animation-duration:3s;animation-iteration-count:1;}
.imagen10 {width: 90px;position: fixed;left: 902px;top: 630px;animation-name:Ima10;animation-duration:3s;animation-iteration-count:1;}
.imagen11 {width: 90px;position: fixed;left: 985px;top: 630px;animation-name:Ima11;animation-duration:3s;animation-iteration-count:1;}
.imagen12 {width: 90px;position: fixed;left: 1074px;top: 630px;animation-name:Ima12;animation-duration:3s;animation-iteration-count:1;}
.imagen13 {width: 90px;position: fixed;left: 1158px;top: 630px;animation-name:Ima13;animation-duration:3s;animation-iteration-count:1;}
.imagen14 {width: 90px;position: fixed;left: 1243px;top: 630px;animation-name:Ima14;animation-duration:3s;animation-iteration-count:1;}
.imagen15 {width: 90px;position: fixed;left: 1328px;top: 630px;animation-name:Ima15;animation-duration:3s;animation-iteration-count:1;}

@keyframes Ima1 {0% {transform:translateX(-1500px);} 15%{transform:translateX(0px);} 16%{transform:rotateZ(-360deg)} 100%{transform:rotateZ(0deg)}}
@keyframes Ima2 {0% {transform:translateY(-1500px);} 100%{transform:translateY(0px);}}
@keyframes Ima3 {0% {transform:translateX(1500px);} 100%{transform:translateX(0px);}}
@keyframes Ima4 {0% {transform:translateY(1500px);} 100%{transform:translateY(0px);}}
@keyframes Ima5 {0% {transform:translateX(-1500px);} 100%{transform:translateX(0px);}}
@keyframes Ima6 {0% {transform:translateY(-1500px);} 100%{transform:translateY(0px);}}
@keyframes Ima7 {0% {transform:translateX(1500px);} 100%{transform:translateX(0px);}}
@keyframes Ima8 {0% {transform:translateY(1500px);} 100%{transform:translateY(0px);}}
@keyframes Ima9 {0% {transform:translateX(-1500px);} 100%{transform:translateX(0px);}}
@keyframes Ima10 {0% {transform:translateY(-1500px);} 100%{transform:translateY(0px);}}
@keyframes Ima11 {0% {transform:translateX(1500px);} 100%{transform:translateX(0px);}}
@keyframes Ima12 {0% {transform:translateY(1500px);} 100%{transform:translateY(0px);}}
@keyframes Ima13 {0% {transform:translateX(-1500px);} 100%{transform:translateX(0px);}}
@keyframes Ima14 {0% {transform:translateY(-1500px);} 100%{transform:translateY(0px);}}
@keyframes Ima15 {0% {transform:translateX(1500px);} 100%{transform:translateX(0px);}}