.Menu {
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #808080;
}
