<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation
		  debug="false" xdt:Transform="SetAttributes"
		  assemblyPostProcessorType="" xdt:Locator="Match(debug)" />
	</system.web>
</configuration>

